

* { 
    margin: 0; padding: 0; box-sizing: border-box; 
}

body { 
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    background: #f8f9fa; 
}

.hover-shadow { 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.hover-shadow:hover { 
    transform: translateY(-10px); 
    box-shadow: 0 20px 40px rgba(0,0,0,0.15) !important; 
}

.card-img-top { 
    object-fit: cover; 
}

.badge { 
    font-size: 0.8rem; 
}

p {
    font-size: larger;
}

h3{
    font-weight: bolder;
    text-transform: uppercase;
}

footer {
    position: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #0d6efd !important; 
}